---

- name: Install software packages for general usage
  become: true
  block:
    - name: Install common packages
      ansible.builtin.package:
        name:
          - git
          - python3-psutil
          - esptool
          # - dbus-x11 some 22.04 hosts dont have this
        state: '{{ "absent" if destroy | bool else "present" }}'
