---

- name: Setup classroom user
  block:
    - name: Ensure user exists
      become: true
      ansible.builtin.user:
        name: '{{ classroom.user.name | mandatory }}'
        groups: 'adm,cdrom,sudo,dip,plugdev,lpadmin,lxd,dialout'
        shell: '/bin/bash'
        create_home: true
        password: ''
        remove: '{{ destroy | bool }}'
        force: '{{ destroy | bool }}'
        state: '{{ "absent" if destroy | bool else "present" }}'

    - name: Ensure SSH keys of all classroom admins are present in authorized_keys
      become: true
      ansible.posix.authorized_key:
        user: '{{ classroom.user.name | mandatory }}'
        state: present
        key: '{{ item.ssh_key | mandatory }}'
      loop: '{{ classroom.admins | mandatory }}'
      when: not destroy | bool

    - name: Copy private admin SSH key
      become: true
      ansible.builtin.copy:
        dest: '/home/{{ classroom.user.name | mandatory }}/.ssh/id_ed25519'
        content: '{{ admin_ssh_private_key | mandatory }}'
        owner: '{{ classroom.user.name | mandatory }}'
        group: '{{ classroom.user.name | mandatory }}'
        mode: '0600'
      when: not destroy | bool and classroom.user.is_admin | bool

    - name: Copy public admin SSH key
      become: true
      ansible.builtin.copy:
        dest: '/home/{{ classroom.user.name | mandatory }}/.ssh/id_ed25519.pub'
        content: '{{ admin_ssh_public_key | mandatory }}'
        owner: '{{ classroom.user.name | mandatory }}'
        group: '{{ classroom.user.name | mandatory }}'
        mode: '0644'
      when: not destroy | bool and classroom.user.is_admin | bool
